<main class="signup">
    <div class="signup__form">

        <h2>Cadastre-se e fique por dentro das novidades no mundo da tecnologia!</h2>

        <form action="" (ngSubmit)="signup()" #signupForm="ngForm">

            <div class="signup__form__input">
                <input 
                type="text" 
                form="signupFormGroup" 
                name="user"
                [(ngModel)]="user"
                required
                >
                <label for="user">Usuário</label>
            </div>

            <div class="signup__form__input">
                <input 
                type="password" 
                form="signupFormGroup" 
                name="password"
                [(ngModel)]="password" 
                required
                >
                <label for="password">Senha</label>
            </div>

            <button 
            class="signup__form__button" 
            type="submit"
            >Cadastrar
            </button>

        </form>

        <app-form-error 
        *ngIf="userInvalid"
        error="Usuário inválido"
        ></app-form-error>

        <app-form-error 
        *ngIf="passwordInvalid"
        error="Senha inválida"
        ></app-form-error>
    </div>
</main>
