<main class="signup">
    <div class="signup__form">

        <h2>Cadastre-se e fique por dentro das novidades no mundo da tecnologia!</h2>

        <form [formGroup]="newUserForm" (submit)="signup()">

            <div class="signup__form__input">
                <input 
                type="text" 
                formControlName="user"
                required
                >
                <label for="user">Usuário</label>
            </div>

            <div class="signup__form__input">
                <input 
                type="password" 
                formControlName="password"
                required
                >
                <label for="password">Senha</label>
            </div>

            
            <div class="signup__form__input">
                <input 
                type="password" 
                formControlName="passwordConfirm"
                required
                >
                <label for="password">Confirme sua senha</label>
            </div>

            <app-form-error 
            *ngIf="userInvalid"
            error="Usuário inválido"
            ></app-form-error>
    
            <app-form-error 
            *ngIf="passwordInvalid || passwordsDontMatch"
            error="Senha inválida"
            ></app-form-error>

            <button 
            class="signup__form__button" 
            type="submit"
            >Cadastrar
            </button>

            <p class="signup__form__login">Já é membro?
                <a [routerLink]="['/home']" >Faça login!</a>
            </p>

        </form>

    </div>
</main>
