main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../../assets/bg\ --primary.png");
}

.signup {

    &__form{
        position:absolute;
        background-color: rgba(0, 0, 0, 0.75);
        border-radius:3px;
        padding:70px 100px;
        border-radius: 10%;
        width: 520px;
        height: auto;

        h2 {
            color: var(--primary);
            text-align: center;
            margin-bottom: 40px;
        }

        @media (max-width: 600px) {
          max-width: 360px;
          padding: 30px 38px;
        }       
        
    
        &__input{
            position:relative;
            margin-bottom:25px;
    
            label {
                position:absolute;
                top:0px;
                left:0px;
                font-size:16px;
                color:var(--primary);	
                transition: all 0.5s ease-in-out;
            }
    
            input {
                border:0;
                border-bottom:1px solid var(--secondary);  
                background:transparent;
                width:100%;
                padding:8px 0 5px 0;
                font-size:16px;
                color:var(--primary);
                transition: .25s ease-in-out;	
            }
    
            input:focus {
                border:none;	
                outline:none;
                border-bottom:1px solid var(--primary);
            }
            
            input:focus ~ label,
            input:valid ~ label{
                top: -12px;
                font-size: 12px;
                transition: .5s;
            }
        }
    
        &__button {
            color:#fff;
            background-color: var(--orange);
            outline: none;
            border: 0;
            color: #fff;
            padding:10px 20px;
            text-transform:uppercase;
            border-radius:2px;
            position:relative;
        }

        &__button:hover {
            background:var(--orange);
            transition: .25s ease-in-out;
            cursor: pointer;
        }


        &__login {
            background-color: var(--orange);
            margin-top: 20px;
            button {
                color: var(--blueLight);
                background: none;
                border: none;
                font-size: 1rem;
            }
            button:hover {
                cursor: pointer;
                color: var(--blue);
            }
        }
    }


}
