<article>
    <div class="post">
        <div class="post__origin">
            <p>homem_javascript</p>
            <p class="post__origin__date">Uma hora atrás</p>
        </div>
        <div class="post__title">
            <h3> A importância de compiladores e frameworks no mercado. </h3>
        </div>
        <div class="post__description">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores dicta, sint ea praesentium nesciunt obcaecati explicabo minus id. Reprehenderit alias exercitationem doloribus eveniet eaque iure. Libero quidem voluptas a dolor. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis suscipit cupiditate debitis iure dolorum, praesentium animi similique sapiente possimus nisi! Natus officia asperiores dolor deleniti dolore rerum fugit eligendi quos!</p>
        </div>
    </div>
</article>
