<main class="login">
    <div class="login__form">

        <img src="../../../assets/logo.png">

        <form action="" (ngSubmit)="login()" #loginForm="ngForm">

            <div class="login__form__input">
                <input 
                type="text" 
                form="loginFormGroup" 
                name="user"
                [(ngModel)]="user"
                required
                >
                <label for="user">Usuário</label>
            </div>

            <div class="login__form__input">
                <input 
                type="password" 
                form="loginFormGroup" 
                name="password"
                [(ngModel)]="password" 
                required
                >
                <label for="password">Senha</label>
            </div>

            <app-form-error 
            *ngIf="userInvalid"
            error="Usuário inválido"
            ></app-form-error>
    
            <app-form-error 
            *ngIf="passwordInvalid"
            error="Senha inválida"
            ></app-form-error>
    
            <app-form-error 
            *ngIf="loginError"
            error="Usuário e/ou senha incorretos"
            ></app-form-error>

            <button 
            class="login__form__button" 
            type="submit"
            >Entrar</button>

        </form>

        <p class="login__form__register">Não tem uma conta?
        <button (click)="signup()" >Cadastre-se aqui.</button>
        </p>
    </div>
</main>