<main class="login">
    <div class="login__form">

        <img src="../../../assets/logo.png">

        <form action="" (ngSubmit)="login()">

            <div class="login__form__input">
                <input 
                type="text" 
                form="loginFormGroup" 
                name="user"
                [(ngModel)]="user"
                required
                >
                <label for="user">Usuário</label>
            </div>

            <div class="login__form__input">
                <input 
                type="password" 
                form="loginFormGroup" 
                name="password"
                [(ngModel)]="password" 
                required
                >
                <label for="password">Senha</label>
            </div>

            <button 
            class="login__form__button" 
            type="submit"
            >Entrar</button>

        </form>

        <p 
        *ngIf="userInvalid"
        class="login__form__error"
        >Usuário inválido!
        </p>

        <p 
        *ngIf="passwordInvalid"
        class="login__form__error"
        >Senha inválida!
        </p>

        <p 
        *ngIf="loginError"
        class="login__form__error"
        >Usuário e/ou senha incorretos!
        </p>

        <p class="login__form__register">Não tem uma conta?
             <a href="#" target="_blank" rel="next">Cadastre-se aqui.</a>
        </p>
    </div>
</main>