<main class="login">
    <div class="login__form">
        <img src="../../../assets/logo.png">
        <form action="">
            <div class="login__form__input">
                <input type="text" id="user"  form="loginFormGroup" required>
                <label for="user">Usuário</label>
            </div>
            <div class="login__form__input">
                <input type="password" id="password" form="loginFormGroup" required> 
                <label for="password">Senha</label>
            </div>
            <button onclick="verifyUser()" class="login__form__button">Entrar</button>
        </form>
        <p class="login__form__register">Não tem uma conta?
             <a href="#" target="_blank" rel="next">Cadastre-se aqui.</a>
        </p>
    </div>
</main>